.logins{
    cursor:pointer
}
#logout {
    margin-right:0px;
    color: red;
    text-decoration: none;
}
/* Dom Result Quiz */
#QuizResultDom{
    text-align: center;
}
.box {
    width: 30%;
    height: 40vh;
    margin: auto;
    margin-top: 220px;
    background-color: rgb(116, 236, 46);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
#QuizResultDom .box h3 {
    margin-left: 170px;
    font-size: 30;
    font-weight: bold;
    color:white;
}
/* index.html loging */
.login-box {
   width: 40%;
   margin: auto;
   background-color: rgb(40, 158, 236);
   margin-top: 100px;
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   font-family: sans-serif;
}
.login-box .box-header {
    width: 90%;
    margin: auto;
}
.login-box .box-header h1 {
    color: white;
}
.login-box .box-body {
    width: 90%;
    margin: auto;
    display: flex;
    
}
.login-box .box-body form {
    width: 100%;
    display: flex;
   flex-wrap: wrap;
}
.login-box .box-body form .input-group {
    width: 100%;
    display: flex;
   flex-wrap: wrap;
}
.login-box .box-body form .input-group input,label {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.login-box .box-body form .input-group input {
    padding: 10px;
    border-radius: 7px;
    border: none;
}
.login-box .box-body form .input-group label {
    color: white;
}
.login-box .box-body form .btn {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login-box .box-body form .btn button {
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.login-box .box-body form .btn button:hover {
    background-color: rgb(5, 124, 204);
    color: white;
}
.login-box .box-body form .login {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}
.box-progressbar {
    border: 1px solid black;
    margin-top: 30px;
}
.progressbar {
    padding: 5px;
    background-color: rgb(11, 11, 230);
}