<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>quiz app</title>

</head>
<body>
    
    
  <div class="fixed-top ml-2" >
    <a href="../view/home.html" class="btn btn-primary">back</a>
  </div>
  <!-- add question -->
    <section class="m-3 " id="add">
        <div class="row col-6 m-auto ">
          <div class="row rounded border-top border-start border-primary border-3 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="input-group m-3 border-0">
              <h3 class="text-center text-primary">Create Your Question</h3>
            </div>
          </div>
          <div class=" row px-4 rounded border-start border-primary border-3 mt-3 shadow-lg p-3 mb-5 bg-body rounded">
            <div class="input-group m-3 ">
              <label class="input-group-text border-0 bg-white fw-bold" for="question">Question: </label>
              <input type="text" class="form-control rounded " id="question"/>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input choise" type="radio" name="correct" />
              <input type="text" class="form-control rounded" id="answer1" placeholder="answer1"/>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input choise" type="radio" name="correct"  />
              <input type="text" class="form-control rounded" id="answer2" placeholder="answer2"/>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input choise" type="radio" name="correct" />
              <input type="text" class="form-control rounded" id="answer3" placeholder="answer3"/>
            </div>
            <div class="form-check mb-2">
              <input class="form-check-input choise" type="radio" name="correct"  />
              <input type="text" class="form-control rounded" id="answer4" placeholder="answer4"/>
            </div>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-primary" id="cancel_add">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create">Create</button>
          </div>
        </div>
      </section>

      <!-- edite question -->
    <section class="m-3 " id="update">
      <div class="row col-6 m-auto ">
        <div class="row rounded border-top border-start border-primary border-3 shadow-lg p-3 mb-5 bg-body rounded">
          <div class="input-group m-3 border-0">
            <h3 class="text-center text-primary">Edite Your Question</h3>
          </div>
        </div>
        <div class=" row px-4 rounded border-start border-primary border-3 mt-3 shadow-lg p-3 mb-5 bg-body rounded">
          <div class="input-group m-3 ">
            <label class="input-group-text border-0 bg-white fw-bold" for="questions">Question: </label>
            <input type="text" class="form-control rounded " id="questions"/>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input choises" type="radio" name="correct" />
            <input type="text" class="form-control rounded" id="ans1" placeholder="answer1"/>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input choises" type="radio" name="correct"  />
            <input type="text" class="form-control rounded" id="ans2" placeholder="answer2"/>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input choises" type="radio" name="correct" />
            <input type="text" class="form-control rounded" id="ans3" placeholder="answer3"/>
          </div>
          <div class="form-check mb-2">
            <input class="form-check-input choises" type="radio" name="correct"  />
            <input type="text" class="form-control rounded" id="ans4" placeholder="answer4"/>
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary" id="cancel_update">Cancel</button>
          <button type="submit" class="btn btn-primary" id="edite">Update</button>
        </div>
      </div>
    </section>

      <!-- show question -->
    <section class="m-3" id="questions-view">
        <h4 class="fw-bold text-center mt-3">Show Question</h4>
        <div class="row col-6 m-auto shadow-lg p-3 mb-5 bg-body rounded border-start border-primary border-3" id="questions-container">
        </div>
      </section>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="../front/edite_quiz.js" defer></script>

</body>
</html>