<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../front/delete_quiz.js"></script>
    <title>quiz app</title>
</head>
<body>
    <div class="fixed-top ml-2" >
        <a href="../view/home.html" class="btn btn-primary">back</a>
    </div>

    <!-- play -->
    <section class="m-3">
        <h4 class="fw-bold text-center mt-3">Quiz</h4>
        <div class="row col-6 m-auto shadow-lg p-3 mb-5 bg-body rounded border-start border-primary border-3">
          <h4 class="fw-bold text-center mt-3"></h4>
          <form class=" bg-white px-4" action="">
            <p class="fw-bold">How satisfied are you with our product?</p>
            <div class="form-check mb-2 border-bottom border-primary border-2">
              <p>answer1...</p>
            </div>
            <div class="form-check mb-2 border-bottom border-primary border-2">
              <p>answer2...</p>
            </div>
            <div class="form-check mb-2 border-bottom border-primary border-2">
              <p>answer3...</p>
            </div>
            <div class="form-check mb-2 border-bottom border-primary border-2">
              <p>answer4...</p>
            </div>
          </form>
          <div class="text-end">
            <button type="button" class="btn btn-primary" id="next">Next</button>            
          </div>
        </div>
      </section>
</body>
</html>